<footer>
    <div class="footer-inner">
        <a href="/book" tabindex="3">
            <div class="tooltip">
                <span class="label">Bookmarklet</span>

                <span class="tooltip-text">Replit integration</span>
            </div>
        </a>

        <a href="/about" tabindex="4">
            <div class="tooltip">
                <span class="label">About</span>

                <span class="tooltip-text">Who made this</span>
            </div>
        </a>
    </div>
</footer>