<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap" rel="stylesheet">

<!-- Primary Meta Tags -->
<title>Challenge #1</title>
<meta name="title" content="Challenge #1">
<meta name="description" content="Beautiful typing tests!">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://Challenge1.korbindev.repl.co">
<meta property="og:title" content="Challenge #1">
<meta property="og:description" content="Beautiful typing tests!">
<meta property="og:image" content="https://Challenge1.korbindev.repl.co/banner.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://Challenge1.korbindev.repl.co">
<meta property="twitter:title" content="Challenge #1">
<meta property="twitter:description" content="Beautiful typing tests!">
<meta property="twitter:image" content="https://Challenge1.korbindev.repl.co/banner.png">


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#E2D8C0">
<meta name="msapplication-TileColor" content="#E2D8C0">
<meta name="theme-color" content="#E2D8C0">

<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/typing.css">

<title><%= title %></title>

<!-- https://stackoverflow.com/questions/21147149/flash-of-unstyled-content-fouc-in-firefox-only-is-ff-slow-renderer -->
<script>0</script>
<script src="/src/theme.js"></script>